/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */
 h1{
  padding-left: 1rem;
 }
.nowrap{
  white-space: nowrap;
}


.nav_all{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.6rem;
  position: sticky;
  top: 0;
  background-color: gray;
 
}

 .ul_nav{
  margin-right: 1rem;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: large;

 }
 .body{
  font-size: large;
  margin-left: 1rem;
  font-weight: 500;
 }

 .footer{
 padding-left: 0.5rem;
  font-weight: 500;
  position: sticky;
  bottom: 0;
  background-color: grey;
  padding: 0.1px;
  text-align: center;
  

 }

